# Python cache
*.pyc
__pycache__/

# Python virtual env
.venv/
.venv-windows/
.venv35/
.venv36/

# Intellij IDEA / PyCharm project files
.idea/

# Visual Studio code project files
.vscode/

# Install DEB packages
install-files/*.deb
