[Unit]
Description=LChain Daemon
After=network.target

[Service]
User=lchain
Group=lchain
ExecStart=/usr/bin/parity --config /opt/lchain/conf/lchain.conf ui
Restart=on-failure
KillSignal=SIGHUP

[Install]
WantedBy=default.target

